@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

.hover-float:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.box-shadow {
  box-shadow: 10px 12px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 12px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 12px 0px 0px rgba(0, 0, 0, 1);
}

.box-shadow-green {
  box-shadow: 10px 12px 0px 0px #778965;
  -webkit-box-shadow: 10px 12px 0px 0px #778965;
  -moz-box-shadow: 10px 12px 0px 0px #778965;
}