@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

.hover-float:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.box-shadow {
  box-shadow: 10px 12px 0px 0px rgb(0, 0, 1);
  -webkit-box-shadow: 10px 12px 0px 0px rgb(0, 0, 1);
  -moz-box-shadow: 10px 12px 0px 0px rgb(0, 0, 1);
}

.box-shadow-green {
  box-shadow: 10px 12px 0px 0px #778965;
  -webkit-box-shadow: 10px 12px 0px 0px #778965;
  -moz-box-shadow: 10px 12px 0px 0px #778965;
}

@keyframes fadeIn {
  from {
      opacity: 0.3;
  }
  to {
      opacity: 1;
  }
}

.fade-in {
  opacity: 0.3; /* Ensure they start at 30% */
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-1 {
  animation-delay: 0s; /* First fades in immediately */
}

.fade-in-2 {
  animation-delay: 1s; /* Second fades in after 1s */
}

.fade-in-3 {
  animation-delay: 2s; /* Third fades in after 2s */
}

.custom-shadow {
  box-shadow: 10px 10px 0 #394a28;
}

.font-bubble {
  font-family: 'Comfortaa', sans-serif;
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  background-color: inherit;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


@media (max-width: 768px) {
  .text-xl {
    font-size: 1rem; 
  }

  .h-screen {
    height: auto; 
  }

  .flex-row {
    flex-direction: column; 
  }

  .p-4 {
    padding: 1rem; 
  }
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row; 
  }

  .lg\:text-xl {
    font-size: 1.25rem;
  }
}
