.purrrcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding: 20px;
}

.purrr {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.purrr h1 {
  font-size: 50px;
  color: #000000;
  width: 100%;
}

.purrr h2{
    font-size: 20px;
    color: #000000;
    width: 100%;
}

.purrr p {
  font-size: 19px;
  color: #000000;
  line-height: 1.6;
  max-width: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

.how-it-works {
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.how-it-works h2 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.how-it-works h3 {
  font-size: 24px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.how-it-works ul {
  list-style-type: disc;
  padding-left: 20px;
}

.how-it-works img {
  max-width: 500px;
  height: auto;
  margin-top: 10px;
}

.how-it-works video {
  max-width: 500px;
  height: auto;
  margin-top: 10px;
}

.how-it-works p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}

.title-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container {
  width: 60%;
  padding: 20px;
}

.laptop-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.laptop-image {
  max-width: 500px;
  height: 300px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-container img,
.scroll-container video {
  flex: 0 0 auto;
  margin-right: 20px; 
}