.projects-box {
   background-color: #6d8157; 
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px; 
   border-radius: 2px; 
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
   margin-bottom: 20px;
 }