.Gallery {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.gallery-section {
  margin-bottom: 20px;
}

.Gallery h1 {
  font-size: 75px;
  color: #292929;
  text-transform: uppercase;
  overflow: visible;
  white-space: normal;
  border-right: none;
  animation: none;
}

.Gallery h2 {
  font-size: 20px;
  color: #292929;
  text-transform: lowercase;
  overflow: visible;
  white-space: normal;
  border-right: none;
  animation: none;
}

.gallery-section h2 {
  font-size: 20px;
  color: #292929;
  text-transform: uppercase;
  overflow: visible;
  white-space: normal;
  border-right: none;
  animation: none;
}

.gallery-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 0 -50px;
}

.gallery-grid img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
}