.App {
  font-family: Helvetica, sans-serif;
}

.App-header {
  background-color: #fffcf4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  font-size: calc(10px + 2vmin);
  color: #292929;
  padding-top: 20px; 
}

.header-box {
  background-color: #ff985a; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}
