.body{
  background-color: #fffcf4;
}

.Home {
  font-family: Helvetica, sans-serif;
  display: flex; 
  flex-direction: column;
  position: relative;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  color: #292929;
  padding-top: 20px; 
  margin-left: 50px;
}

.PersonalProjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  color: #292929;
  padding-top: 20px; 
  margin-left: 50px; 
}

.header-box {
  font-size: calc(10px + 2vmin);
  background-color: #9caf88; 
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 150px);
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.header-links {
  display: flex;
  gap: 15px;
}

.header-links a {
  text-decoration: none;
  color: #292929; 
  transition: color 0.3s;
}

.header-links a:hover {
  color: #445039;
}

.circle {
  position: absolute;
  top: 140%;       
  left: 50%;  
  width: 900px;   
  height: 900px;   
  background-color: #ff985a; 
  border-radius: 50%; 
  transform: translate(-50%, -50%); 
  z-index: -1;      
}
