.body {
  background-color: #fffcf4;
}

.Home {
  font-family: Helvetica, sans-serif;
  display: flex; 
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  color: #292929;
  padding-top: 20px; 
  margin-left: 50px;
}

.PersonalProjects {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  color: #292929;
  padding-top: 20px; 
  margin-left: 50px; 
}

.header-links {
  display: flex;
  gap: 15px;
  position: absolute; 
  top: 20px; 
  right: 20px;
  z-index: 1; 
}

.header-links a {
  text-decoration: none;
  color: #292929; 
  transition: color 0.3s;
}

.header-links a:hover {
  color: #445039;
}

.circle {
  position: absolute;
  top: 50%;       
  left: 50%;  
  width: 900px;   
  height: 900px;   
  background-color: #ff985a; 
  border-radius: 50%; 
  transform: translate(-50%, -50%); 
  z-index: -4;      
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-typewriter {
  display: inline-block; 
  overflow: hidden; 
  white-space: nowrap;
  border-right: 4px solid rgba(255, 255, 255, 0.75); 
  animation: typewriter 1s steps(12) 1s forwards, 
             blinkTextCursor 500ms steps(12) normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 15em; } 
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.name {
  color: white; 
  font-size: 2.5rem;
  margin: 0;
}

.top-left-blob {
  border-radius: 65% 35% 65% 35% / 28% 26% 74% 72%;
  background-color: #9caf88; 
  position: absolute; 
  z-index: -1; 
  top: -350px; 
  left: -200px; 
  width: 900px;
  height: 500px;
}

.two-top-left-blob {
  border-radius: 65% 35% 65% 35% / 28% 26% 74% 72%;
  background-color: #c2d1b6; 
  position: absolute; 
  z-index: -2; 
  top: -300px; 
  left: -200px; 
  width: 900px;
  height: 500px;
}

.three-top-left-blob {
  border-radius: 65% 35% 65% 35% / 28% 26% 74% 72%;
  background-color: #e1eadb; 
  position: absolute; 
  z-index: -3; 
  top: -250px; 
  left: -200px; 
  width: 900px;
  height: 500px;
}

.bottom-right-blob {
  border-radius: 78% 22% 0% 100% / 50% 26% 74% 50% ;
  background-color: #9caf88; 
  position: absolute; 
  z-index: -1; 
  bottom: -600px;
  right: -100px;
  width: 800px; 
  height: 700px;
}

.two-bottom-right-blob {
  border-radius: 78% 22% 0% 100% / 50% 26% 74% 50% ;
  background-color: #c2d1b6;
  position: absolute; 
  z-index: -2; 
  bottom: -550px;
  right: -100px;
  width: 800px; 
  height: 700px;
}

.three-bottom-right-blob {
  border-radius: 78% 22% 0% 100% / 50% 26% 74% 50% ;
  background-color: #e1eadb;
  position: absolute; 
  z-index: -3; 
  bottom: -500px;
  right: -100px;
  width: 800px; 
  height: 700px;
}


