.header-links {
   display: flex;
   gap: 15px;
   position: absolute; 
   top: 20px; 
   right: 20px;
   z-index: 1; 
 }
 
 .header-links a {
   text-decoration: none;
   color: #292929; 
   transition: color 0.3s;
 }
 
 .header-links a:hover {
   color: #445039;
 }